
/*body syle code*/
body {
    background-color: #162152;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}

/*header style code*/
header {
    background-color: #1d0941;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}

/*navbar grid style code*/
nav {
    background-color: #20056b;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    display: grid;
    place-content: center;
}

.mainNavigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.skillsInDemand {
    list-style: none;
}

#projects {
    list-style: none;
    display: inline-flex;
    background-color: aqua;
}

.projectstitle {
    grid-area: pt;
}

.projectcapsule {
    grid-area:pc;
}

.pcimage {
    grid-area:pci
}

.pcdescription {
    grid-area: pcdes;
}

/*footer style code*/
footer {
    background-color: #120964;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "smc cm fpc";
}

#socialmediacontacts {
    grid-area: smc;
    list-style: none;
    justify-content: center;
}

#freelancerplatformcontacts {
    grid-area: fpc;
    display: grid;
    list-style: none;
    justify-content: center;
}

#creatormark{
    grid-area: cm;
    list-style: none;
    justify-content: center;
}

/*media query for mobile*/
@media screen and (max-width: 600px) {
    .mainNavigation {
        grid-template-columns: 1fr;
    }
}