:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

}


/*body syle code*/
body {
    background-color: #162152;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar"
    "landingarea"
    "aboutme"
    "skills"
    "projects"
    "footerarea";
}

/*header style code*/
header {
    grid-area: landingarea;
    background-color: #1d0941;
    background-image: url(Assets/LandingImage3.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 700px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". . ." 
    "pitchContainer . ." 
    ;
}

#pitchContainer {
    grid-area: pitchContainer;
    display: grid;
    padding: 1rem;
    background-color: rgb(63, 119, 8);
    opacity: 0.8;
    border-radius: 6px;
    height: 30em;
    justify-content: center;
    margin-left: 2em;
    margin-bottom: 1rem;
}

/*Call to action buttons*/
#cta {
    /*background-color: gold;*/
    border-radius: 3px;
    background-color: black;
    width: 20pc;
    margin-left: 18rem;
}

#cta :hover {
    font-size: large;
    border: 3px;
    padding: 5px;
}


a {
    text-decoration: none;
    color: white;
}

a :hover {
    color: #00ff0d;
    text-shadow: #1d0941;
    font-size: large;
}

h1 {
    padding-left: 1rem;
    font-size: xx-large;
}

h3 {
    padding-left: 1em;
}

h2 {
    font-size: 1.2rem;
}

/*navbar grid style code*/
nav {
    grid-area: navbar;
    background-color: #20056b;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    display: grid;
    grid-template-columns: 1f 2fr 30%;
    grid-template-rows: auto;
    grid-template-areas:
    ". . navblock";
}



.mainNavigation {
    list-style: none;
    grid-area: navblock;
    margin: 0;
    padding: 0;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto;
}

.mainNavigation li {
    display: flex;
    place-content: center;
}

        .mainNavigation li :hover {
            font-size: larger;
        }

.mnItems {
    margin: 1rem;
    padding-left: 3em;
}

#Aboutme {
    grid-area: aboutme;
    display: grid;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: crimson;
    justify-content: center;
}

.TechnicalSkill {
    grid-area: skills;
    list-style: none;
    background-color: rgb(12, 83, 24);
    display: grid;
    height: 40vh;
    font-size: large;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". ."
    "skills Frameworks";
}

.skillsInDemand {
    grid-area: skills;
    list-style: none;
    background-color: rgb(20, 220, 53);
    display: grid;
    place-content: center;
}

#FrameworksContainer {
    grid-area: Frameworks;
    list-style: none;
    background-color: rgb(171, 243, 104);
    display: grid;
    place-content: center;
}

#Softskills {
    grid-area: Softskills;
    list-style: none;
    display: grid;
    background-color: rgb(1, 41, 7);
    text-align: center;
    height: 40vh;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: auto;
    grid-template-areas: 
    ". title ."
    ". softskillstage ."
    ". . .";
}

#Softskills h3 {
    grid-area: title;
    font-size: x-large;
    margin: 0;
    padding: 0;
    margin-top: 3rem;
}

#softskillsstage {
    grid-area: softskillstage;
    list-style: none;
    background-color: rgb(3, 3, 3);
    display: grid;
    text-align: center;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    ". . ."
    ". activeskill ."
    ". . .";
}

.softskill {
    background-color: darkorange;
    visibility: hidden;
    display: none;
}

.activesoftskill {
    grid-area: activeskill;
    background-color: rgb(217, 255, 0);
    visibility: visible;
}

#projects {
    grid-area: projects;
    list-style: none;
    display: grid;
    background-color: aqua;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
    grid-template-areas: 
    "pt"
    "pc";
    height: 40vh;
    margin-bottom: 2em;
}

.projectstitle {
    grid-area: pt;
}

#projectlist {
    background-color: blueviolet;
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 2em;
    margin-right: 2em;
}

.projectcapsule {
    grid-area:pc;
    background-color: darkgreen;
    }

    .projectcapsule :hover{
        visibility: visible;
        background-color: #00ff0d;
    }


    .pcimage {
        grid-area:pci
    }

    .pcdescription {
        grid-area: pcdes;
    }

/*contact section*/
#contact {
    display: flex;
    flex-direction: row;
    background-color: #00ff0d;
    justify-content: center;
    }

    #contact a {
        text-decoration: none;
        color: white;
    }

        #contact a :hover {
            color: #00ff0d;
            text-shadow: #1d0941;
            font-size: large;
}


#name {
    grid-area: name;
}

#email {
    grid-area: email;
}

.Submit {
    grid-area: submit;
}
/*footer style code*/
footer {
    grid-area: footerarea;
    background-color: #120964;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "smc cm fpc";
    height: 20vh;
}

#socialmediacontacts {
    grid-area: smc;
    list-style: none;
    display: grid;
    justify-content: left;
    margin-left: 1rem;
}

#freelancerplatformcontacts {
    grid-area: fpc;
    display: grid;
    list-style: none;
    justify-content: right;
    margin-right: 1rem;
}

#creatormark{
    grid-area: cm;
    list-style: none;
    margin-top:6em;
    display: grid;
    text-align: center;
}

/*media query for mobile*/
@media screen and (max-width: 600px) {
    nav {
        grid-template-columns: 1fr 1fr max-content;
        grid-template-rows: auto;
    }

    .mainNavigation {
        grid-template-columns: 1fr;
    }

    #cta {
        margin: 1rem;
    }
}