:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

}

* {
    margin: 0;
    padding: 0;
}


/*body syle code*/
body {
    background-color: #b0b5b8;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar"
    "landingarea"
    "aboutme"
    "skills"
    "projects"
    "footerarea";
}

/*header style code*/
header {
    grid-area: landingarea;
    background-color: #1d0941;
    background-image: url(Assets/landingImage4.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 800px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". . ." 
    "pitchContainer . ." 
    ;
}

#pitchContainer {
    grid-area: pitchContainer;
    display: grid;
    padding: 1rem;
    background-color: rgb(8, 47, 119);
    opacity: 0.8;
    border-radius: 6px;
    height: 30em;
    justify-content: center;
    margin-left: 2em;
    margin-bottom: 1rem;
    animation-name: Pitcheranimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pitchContainer img {
    display: none;
    margin-left: 4rem;
}

#hi{
    font-size: 2rem;
    margin-left: 1rem;
    animation-name: hianimation;
    animation-duration: 1.4s;
    animation-delay: 10ms;
    animation-direction: alternate;
    animation-iteration-count: 4;
    animation-timing-function: cubic-bezier();
    opacity: 0;
}

/*Call to action buttons*/
#cta {
    /*background-color: gold;*/
    border-radius: 3px;
    background-color: black;
    width: 20pc;
    margin-left: 18rem;
}

#cta :hover {
    font-size: large;
    border: 3px;
    padding: 5px;
}


a {
    text-decoration: none;
    color: white;
}

a :hover {
    color: #00ff0d;
    text-shadow: #1d0941;
    font-size: large;
}

h1 {
    padding-left: 1rem;
    font-size: xx-large;
}

h3 {
    padding-left: 1em;
}

h2 {
    font-size: 1.2rem;
}

/*navbar grid style code*/
nav {
    grid-area: navbar;
    background-color: #20056b;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    display: grid;
    grid-template-columns: 1f 2fr 30%;
    grid-template-rows: auto;
    grid-template-areas:
    ". . navblock";
}



.mainNavigation {
    list-style: none;
    grid-area: navblock;
    margin: 0;
    padding: 0;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:auto;
}

.mainNavigation li {
    display: flex;
    place-content: center;
}

        .mainNavigation li :hover {
            font-size: larger;
        }

.mnItems {
    margin: 1rem;
    padding-left: 3em;
}

#Aboutme {
    grid-area: aboutme;
    display: grid;
    margin: 3em;
    background-color: rgb(197, 194, 195);
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color:rgb(3, 3, 49);
    border-radius: 2em;
}

#Aboutme p {
    margin: 1rem;
}

.TechnicalSkill {
    grid-area: skills;
    list-style: none;
    background-color: rgb(50, 76, 109);
    display: grid;
    height: 70vh;
    font-size: large;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "sktitle sktitle"
    "skillsInDemand Frameworks"
    "title title"
    "Softskills Softskills";
}

#skillstitle {
    grid-area: sktitle;
    margin-top:2rem;
    margin-bottom: 2rem;
    margin-left:1rem;
    color:#e5e1ee
}
 
.skillsInDemand {
    grid-area: skillsInDemand;
    list-style: none;
    background-color: rgb(14, 22, 133);
    display: grid;
    place-content: center;
    font-size: large;
}

.opinionContainer {
    background-color: rgb(78, 87, 134);
    margin-left: 1rem;
    font-size: small;
}

.skillsInDemand h5 {
    list-style: none;
    font-size: large;
    margin: 1em;
}

#FrameworksContainer {
    grid-area: Frameworks;
    background-color: rgb(141, 179, 250);
    display: grid;
    place-content: center;
}

#FrameworksContainer ul {
    list-style: none;
    background-color: black;
    margin: 1em;
}

#Softskills {
    grid-area: Softskills;
    list-style: none;
    display: grid;
    background-color: rgb(70, 60, 94);
    text-align: center;
    height: 40vh;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: auto;
    grid-template-areas: 
    ". title ."
    ". softskillstage ."
    ". . .";
}

#Softskills h3 {
    grid-area: title;
    font-size: xx-large;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#softskillsstage {
    grid-area: softskillstage;
    border-radius: 1rem;
    list-style: none;
    background-color: rgb(13, 21, 107);
    display: grid;
    height: 16em;
    text-align: center;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: auto;
    grid-template-areas: 
    ". . ."
    ". activeskill ."
    ". . .";
}

.softskill {
    background-color: darkorange;
    visibility: hidden;
    display: none;
}

.activesoftskill {
    grid-area: activeskill;
    font-size: xx-large;
    height: max-content;
    background-color: rgb(9, 2, 73);
    opacity: 0.9;
    visibility: visible;
    margin: 0;
}

#projects {
    grid-area: projects;
    list-style: none;
    display: grid;
    margin-top:8px;
    background-color: rgb(19, 14, 100);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "pt"
    "pc";
    height: 70vh;
    margin: 0;
}

.projectstitle {
    grid-area: pt;
    background-color: rgb(4, 4, 49);
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    align-items: center;

}

#projectlist {
    background-color: rgb(114, 114, 211);
    display: flex;
    margin-top:5px;
    padding:4px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2em;
}

.projectcapsule {
    grid-area:pc;
    background-color: rgb(0, 2, 100);
    display: flex;
    flex-direction: column;
    border: 2px;
    border-radius: 3px;
    width: 200px;
    }

    .projectcapsule :hover{
        background-color: #00ff0d;
    }


    .pcimage {
        grid-area:pci;
        width: auto;
        height: 100px;
        border-radius: 3px;
    }
    
    .projectcapsule h6 {
        margin-left: 1rem;
        margin-top:1rem;
    }

    .pcdescription {
        grid-area: pcdes;
        text-align: center;
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

.projectcapsule :last-child {
    margin-top: auto;
}

.projectcapsule a {
    background-color: black;
    display: flex;
    justify-content: center;
}

/*contact section*/
#contact {
    display: flex;
    flex-direction: row;
    background-color: #070066;
    justify-content: center;
    margin:0;
    }

    #contact a {
        text-decoration: none;
        color: white;
    }

        #contact a :hover {
            color: #00ff0d;
            text-shadow: #1d0941;
            font-size: large;
}


#name {
    grid-area: name;
}

#email {
    grid-area: email;
}

.Submit {
    grid-area: submit;
}
/*footer style code*/
footer {
    grid-area: footerarea;
    background-color: #0c073b;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding:16px;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "smc cm fpc";
    height: 20vh;
}

#socialmediacontacts {
    grid-area: smc;
    list-style: none;
    display: grid;
    justify-content: left;
    margin-left: 1rem;
}

#freelancerplatformcontacts {
    grid-area: fpc;
    display: grid;
    list-style: none;
    justify-content: right;
    margin-right: 1rem;
}

#creatormark{
    grid-area: cm;
    list-style: none;
    margin-top:6em;
    display: grid;
    text-align: center;
}

/*animation code*/
@keyframes Pitcheranimation {
    from {
        background-color: #20056b;
    }
    
    to {
        background-color: #291bac;
    }
}

@keyframes greetingslidinanimation {
    from {
        transform: translateX(-100%);
    }
    
    to {
        transform: translateX(0);
    }
}
@keyframes hianimation {
    from {
        opacity: 1;
        font-size: small;
        color: aqua;
    }
    to {
        opacity: 0;
        color:white;    
        font-size: xx-large;
    }
}

/*media query for tablet*/
@media screen and (max-width: 900px) {
    nav {
        grid-area: navbar;
        background-color: #20056b;
        color: #ffffff;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        display: grid;
        grid-template-columns: 2f 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        ". navblock";
    }
    
    header {
        height: 165vh;
    }

    #pitchContainer {
        grid-area: pitchContainer;
        display: grid;
        padding: 1rem;
        background-color: rgb(8, 38, 119);
        opacity: 1;
        border-radius: 6px;
        height: 60em;
        justify-content: center;
        margin: 4rem;
        width: 80%;
        animation-name: Pitcheranimation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    #pitchContainer h1 {
        animation-name:greetingslidinanimation;
        animation-duration: 0.7s;
    }
    

    #pitchContainer img {
        display: unset;
        visibility: visible;
        margin-left: 4rem;
        opacity: 1;
    }

    #projects {
        grid-area: projects;
        list-style: none;
        display: grid;
        background-color: aqua;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "pt"
        "pc";
        height: max-content;
        margin-bottom: 1em;
    }
    
    #projectlist {
        background-color: blueviolet;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        place-items: center;
        padding: 1rem;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .projectcapsule {
        grid-area:pc;
        background-color: darkgreen;
        display: flex;
        flex-direction: column;
        border: 2px;
        margin: 1rem;
        border-radius: 3px;
        width: 300px;
        height: 400px;
        }

    .mainNavigation {
        grid-template-columns: 1fr;
        grid-area: navblock;
        display: inline-flex;
        justify-items: right;
        margin-left: 10px;
    }

    #cta {
        margin: 1rem;
    }
    
    .pcimage {
        grid-area:pci;
        display: flex;
        height: 200px;
        width: auto;
    }

    .activesoftskill {
        grid-area: activeskill;
        font-size: large;
        height: max-content;
        background-color: rgb(217, 255, 0);
        visibility: visible;
        margin: 0;
    }
}

/*media query for mobile*/
@media screen and (max-width: 600px) {
    nav {
        grid-area: navbar;
        background-color: #20056b;
        color: #ffffff;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "navblock";
    }

    header {
        height: 165vh;
    }

    #pitchContainer {
        grid-area: pitchContainer;
        display: grid;
        padding: 1rem;
        background-color: rgb(8, 56, 119);
        opacity: 1;
        border-radius: 6px;
        height: 60em;
        justify-content: center;
        margin: 4rem;
        width: 70%;
    }
    

    #pitchContainer img {
        display: unset;
        visibility: visible;
        margin-left: 4rem;
        opacity: 1;
    }

    #projects {
        grid-area: projects;
        list-style: none;
        display: grid;
        background-color: aqua;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "pt"
        "pc";
        height: max-content;
        margin-bottom: 1em;
    }
    
    #projectlist {
        background-color: blueviolet;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        place-items: center;
        padding: 1rem;
        margin-bottom: 2em;
        margin-top: 2em;
    }

    .projectcapsule {
        grid-area:pc;
        background-color: darkgreen;
        display: flex;
        flex-direction: column;
        border: 2px;
        margin: 1rem;
        border-radius: 3px;
        width: 300px;
        height: 400px;
        }

    .mainNavigation {
        grid-template-columns: 1fr;
    }

    #cta {
        margin: 1rem;
    }
    
    .pcimage {
        grid-area:pci;
        display: flex;
        height: 200px;
        width: auto;
    }

    .activesoftskill {
        grid-area: activeskill;
        font-size: large;
        height: max-content;
        background-color: rgb(217, 255, 0);
        visibility: visible;
        margin: 0;
    }

}